.ON {
	color: #00FF00 !important;
}

.OFF {
	color: #FF0000 !important;
}

.UNKNOWN {
	color: #808080 !important;
}

#TasmotaMQTTRelayEditor.table th, #TasmotaMQTTRelayEditor.table td {
	border-top: none;
}