<a class="pull-right" href=#" data-bind="visible: loginStateViewModel.loggedIn(),css: settingsViewModel.settings.plugins.tasmota_mqtt.currentstate, attr: {title: settingsViewModel.settings.plugins.tasmota_mqtt.topic}" style="display: none;float: left;"><i class="icon-bolt"></i></a>