<form class="form-horizontal">
    <div class="control-group">
        <label class="control-label">{{ _('Topic') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settingsViewModel.settings.plugins.tasmota_mqtt.topic">
        </div>
    </div>
	<table class="table table-condensed" data-bind='visible: settingsViewModel.settings.plugins.tasmota_mqtt.arrRelays().length > 0'>
		<thead>
			<tr>
				<td style="text-align:center">Topic</td>
				<td style="text-align:center">Warn</td>
				<td style="text-align:center">GCODE</td>
				<td style="text-align:center"><a href="#" class="btn btn-mini icon-plus" data-bind="click: addRelay"></a></td>
			</tr>
		</thead>
		<tbody data-bind='foreach: settingsViewModel.settings.plugins.tasmota_mqtt.arrRelays'>
			<tr data-bind='attr: {title: topic}' class="info">
				<td><input data-bind='value: topic, uniqueName: true' /></td>
				<td><td style="text-align:center"><input type="checkbox" data-bind="checked: warn, uniqueName: true"/></td>
				<td><td style="text-align:center"><input type="checkbox" data-bind="checked: gcode, uniqueName: true"/></td>
				<td style="text-align:center"><a href="#" class="icon-trash" data-bind="click: $root.removeRelay, visible: $root.settingsViewModel.settings.plugins.tasmota_mqtt.arrRelays().length > 1"></a></td>
			</tr>
		</tbody>
	</table>
</form>