<!-- ko foreach: settingsViewModel.settings.plugins.tasmota_mqtt.arrRelays -->
<a class="pull-right" href=#" data-bind='visible: $root.loginStateViewModel.loggedIn(), click: $root.toggleRelay,  attr: {title: (topic()+"|"+relayN())}' style="display: none;float: left;"><i class="icon" data-bind="css: {icon(): true, 'ON': currentstate() == 'ON', 'OFF': currentstate() == 'OFF', 'UNKNOWN': currentstate() == 'UNKNOWN','icon-spin': $root.processing().includes(topic() + '|' + relayN())}"></i></a>
<!-- /ko -->