<h4>Tasmota-MQTT Settings</h4>
<form class="form-horizontal">
	<table class="table table-condensed" data-bind='visible: settingsViewModel.settings.plugins.tasmota_mqtt.arrRelays().length > 0'>
		<thead>
			<tr>
				<td style="text-align:center">Topic | Relay #</td>
				<td style="text-align:center">Warn</td>
				<td style="text-align:center">GCODE</td>
				<td style="text-align:center"><a href="#" class="btn btn-mini icon-plus" data-bind="click: addRelay"></a></td>
			</tr>
		</thead>
		<tbody data-bind='foreach: settingsViewModel.settings.plugins.tasmota_mqtt.arrRelays'>
			<tr data-bind='attr: {title: (topic()+"|"+relayN())}'>
				<td><!--ko text: topic--><!--/ko--> | <!--ko text: relayN--><!--/ko--></td>
				<td style="text-align:center"><i class="icon" data-bind="css: {'icon-check': warn(),'icon-check-empty': !warn()}"/></td>
				<td style="text-align:center"><i class="icon" data-bind="css: {'icon-check': gcode(),'icon-check-empty': !gcode()}"/></td>
				<td style="text-align:center">
					<a href="#" class="icon-pencil" data-bind="click: $root.editRelay"></a>
					<a href="#" class="icon-trash" data-bind="click: $root.removeRelay, visible: $root.settingsViewModel.settings.plugins.tasmota_mqtt.arrRelays().length > 1"></a> </td>
			</tr>
		</tbody>
	</table>
	<div id="TasmotaMQTTRelayEditor" data-bind="with: selectedRelay" class="modal hide fade">
	    <div class="modal-header">
			<a href="#" class="close" data-dismiss="modal" aria-hidden="true">&times;</a>
			<h3>Tasmota-MQTT Relay Editor</h3>
		</div>
		<div class="modal-body">
			<table class="table table-condensed">
				<tr>
					<td colspan="2"><label class="control-label">{{ _('Topic') }}</label><input type="text" class="input-block-level" data-bind="value: topic" /></td>
					<td><label class="control-label">{{ _('Relay #') }}</label><input type="text" class="input input-small" data-bind="value: relayN" /></td>
				</tr>
				<tr>
					<td><input type="checkbox" data-bind="checked: warn"/><label class="control-label">{{ _('Warning Prompt') }}</label></td>
					<td><label class="control-label">{{ _('Warn While Printing') }}</label><input type="checkbox" data-bind="checked: warnPrinting"/></td>
					<td></td>
				</tr>
				<tr>
					<td><label class="control-label">{{ _('GCODE Trigger') }}</label><input type="checkbox" data-bind="checked: gcode"/></td>
					<td><div class="row-fluid" data-bind="visible: gcode"><label class="control-label">{{ _('GCODE On Delay') }}</label><input type="text" data-bind="value: gcodeOnDelay"  class="input input-small" /></div></td>
					<td><div class="row-fluid" data-bind="visible: gcode"><label class="control-label">{{ _('GCODE Off Delay') }}</label><input type="text" data-bind="value: gcodeOffDelay"  class="input input-small" /></div></td>
				</tr>
			</table>
		</div>
		<div class="modal-footer">
			<a href="#" class="btn" data-dismiss="modal" aria-hidden="true">{{ _('Close') }}</a>
		</div>
	</div>
</form>