<a class="pull-right" href=#" data-bind="visible: loginStateViewModel.loggedIn(),click: toggleRelay, css: {currentstate, fa-spin: topic = processing}, attr: {title: topic}" style="display: none;float: left;"><i class="icon-bolt"></i></a>