<!-- ko if: show_sidebar -->
<div id="tasmotamqttsmartplugs" class="row-fluid" data-bind="foreach: filteredSmartplugs" style="display: none;">
	<div class="row-fluid" data-bind="css: currentstate">
		Topic: <strong data-bind="text: topic +'|'+relayN"></strong><br/>
	</div>
</div>
<!-- /ko -->