<h3>{{ _('MQTT Required!') }}</h3>

<p>{% trans %}
    For the Tasmota-MQTT plugin to function you must install the <a href="https://plugins.octoprint.org/plugins/mqtt/" class="btn btn-primary span4">MQTT</a> plugin and configure it to connect to an MQTT server.
{% endtrans %}</p>